doctype html
html
    head
        title="Google"
    body
        h1 Hello! 
        h2 Please log to google!
        form(action="http://localhost:3000/auth/google" method="GET")
            input(type="submit" value="Submit")